{% extends "index-net.html" %}

{% block title %}
Profile page.
{% endblock %}

{% block leftblock %}
<h3>Краткое указание к профилю.</h3>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Профиль.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Настройка профиля.
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Регистрация и логин.
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1 style="text-align: center;">Это ваш профиль, <span style="color:aqua;">{{profile.username}}</span></h1>
  
<div id="profile-display-div" class="visible">
    <div class="w-25 border-end" style="float:left;">
        <div class="h-25 p-3 border-bottom" style="height: 25%; width: auto;">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{profile_pic}}" class="d-block w-100" alt="..." style="object-fit: cover;">
                    </div>
                    {% for picture in pictures %}
                    <div class="carousel-item">
                        <img src="{{picture}}" class="d-block w-100" alt="..." style="height: 20%; object-fit: cover;">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="w-75 p-3" style="float:left;">
            <ul class="list-group">
                <li class="list-group-item">{{profile.username}}</li>
                <li class="list-group-item">{{profile.name}}</li>
                <li class="list-group-item">{{profile.age}} лет.</li>
                <li class="list-group-item">{{profile.about}}</li>
              </ul>
              <p class="d-inline-flex gap-1" style="margin-top: 1rem;">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Друзья.
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                {% for friend in friends %}
                  <div class="card card-body">
                    <div style="float: left;">
                      <span style="font-size: large;">{{friend.name}}, <span style="font-size: medium;">{{friend.username}}</span></span>
                    </div>  
                  </div>
                {% endfor %}
              </div>
        </div>
    </div>
    <div class="w-75">
      <ul style="list-style-type: none;">
        {% for announce in announcements %}
            <li>
                <div class="card" style="width: 30%; float: right;">
                    <img src="{{announce.picture}}" class="img-fluid" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{announce.title}}</h5>
                    <p class="card-text">{{announce.message}}</p>
                    <div class="alert alert-light" role="alert">
                        <span>{{announce.created_at}}</span>
                    </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}

<!--
    <div id="announcements-display-div" class="invisible">
    <ul style="list-style-type: none;">
        {% for announce in announcements %}
            <li>
                <div class="card" style="width: 45%;">
                    <img src="{{announce.picture}}" class="img-fluid" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{announce.title}}</h5>
                    <p class="card-text">{{announce.message}}</p>
                    <div class="alert alert-light" role="alert">
                        <span>{{announce.created_at}}</span>
                    </div>
                    <a href="#" class="btn btn-primary">{{announce.person}}</a>
        
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
-->

